.custom-arrow {
    z-index: 1; //Para que flechas estén sobre imagen
    width: 30px; 
    height: 30px; 
    align-content: center;
    filter: invert(24%) sepia(21%) saturate(7264%) hue-rotate(9deg) brightness(101%) contrast(101%);
    scale: 1.2;
}

.custom-arrow.next {
    right: 20px; 
}

.custom-arrow.prev {
    left: 30px; 
}

