.background-image {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index:-1; /*Mantiene la imagen detras del texto */
}

// Haremos un pseudo elemnto por encima para mostrar oscuridad 
.noticias-slider .slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent 40%, transparent 10%, rgba(0, 0, 0, 0.5));
    z-index: 1; /* Make sure the overlay is above the image */
}   