@import "./see-more.scss";
@import "./slide-text.scss";
@import "./slide.scss";
@import "./text-container.scss";
@import "./background-image.scss";
@import "./arrows.scss";
@import "./noticias-slider.scss";
@import "./noticias-wrapper.scss";

