.see-more {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: rgb(229, 179, 0);;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    align-self: end;
  }