.benef-slider {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 150%;
  margin-top: 20px;
  padding-bottom: 20px;

  .slick-slide {
    transition: transform 0.5s ease, opacity 0.5s ease;
  }

  .slick-list {
    padding-left: 3.5%;
    padding-right: 10%;
    padding-top: 2% ;
    padding-bottom: 2%;
  }

  .slick-center .slide {
    opacity: 1;
    border-radius: 10px;
  }

  .slide {
    position: relative;
    padding: 20px;
    border-radius: 10px;
    text-align: justify;
    text-shadow: 2px 2px 8px #333333;
    min-height: 300px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
    transition-duration: 0.3s;
    box-shadow: 0 1px 1rem -4px #000;
    overflow: hidden; // Asegura que los elementos no sobresalgan del contenedor

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: radial-gradient(circle, rgba(41, 181, 85, 0.55) 0%, rgba(6, 79, 48, 1) 100%);
      border-radius: 10px;
      z-index: 1; // Coloca este elemento detrás del texto pero sobre la imagen de fondo
    }
  }

  .slide:hover {
    transform: scale(1.05);
  }

  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2; // Mantiene la imagen detrás del pseudo-elemento y del texto
    border-radius: 10px;
  }

  .text {
    z-index: 2;
    display: block;
    position: relative; // Asegura que esté por encima del pseudo-elemento
    color: white;
    text-decoration: none;
    text-align: left;
    font-size: 25px; // Tamaño de la fuente del título
    font-weight: bold;
  }

  .slide .description {
    z-index: 2;
    position: relative;
    margin-top: 10px;
    font-size: 18px; // Tamaño de la fuente de la descripción
    color: #ffffff;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5); // Fondo semi-transparente para destacar la descripción
    padding: 5px; // Espacio alrededor del texto
    border-radius: 5px; // Bordes redondeados para la descripción
  }
}