.footer {
    background-color: #003366;
    color: #ffffff;
    padding: 20px;
  
    &__campuses, &__links {
      display: flex;
      justify-content: space-between;
      padding: 20px 0;
    }
  
    &__campus, &__section {
      width: 20%;
    }
  
    h4 {
      font-size: 1.2em;
      margin-bottom: 10px;
    }
  
    ul {
      list-style: none;
      padding: 0;
  
      li {
        margin-bottom: 5px;
  
        // Aquí se aplican los estilos a los enlaces
        a {
          color: #ffffff; // Color del texto del enlace
          text-decoration: none; // Quita el subrayado
  
          // Cambia el color al pasar el mouse
          &:hover,
          &:focus {
            color: #ffffff; // Color del texto del enlace al pasar el mouse
            text-decoration: underline; // Agrega un subrayado si deseas
          }
        }
      }
    }
  
    .footer__accreditation {
      width: 25%;
      border: 1px solid #fff;
      padding: 15px;
      text-align: center;
    }
  
    .footer__bottom {
      text-align: center;
      font-size: 0.9em;
      padding-top: 10px;
      border-top: 1px solid #fff;
    }
  
    .footer__social {
      display: flex;
      gap: 10px;
      margin-top: 10px;
    }
  }
  