.areas-slider {

  display: flex;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 150%;


  .slick-slide {
    transition: transform 0.5s ease, opacity 0.5s ease;
  }
  
  .slick-list {
    padding-top: 2% !important;
    padding-bottom: 2% !important;
  }

  .slick-center .slide {
    transform: scale(1.1);
    opacity: 1;
    box-shadow: 0 1px 1rem -4px #000;
  }

  .slick-slide:not(.slick-center) .slide {
    transform: scale(0.8);
    opacity: 0.5;
  }

  .slide {
    background-color: #96c46c;
    padding: 2.8%;
    border-radius: 0px;
    text-align: justify;
    text-shadow: 2px 2px 8px #333333;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    color: white;
    position:inherit;

  }

  .flex-details{
    width: 100%;
    display: flex;
  
    flex-direction: row;
    justify-content: space-between;

    .link-block{
      display: block;
      align-self: flex-end;
      background-color: rgb(229, 179, 0);
      border-radius: 5px;
      font-size: medium;
      transition-duration: 0.3s;
      
      
      a{
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        background-color: rgb(229, 179, 0);;
        border: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        font-weight: bold;
        align-self: end;
        text-shadow: none;
        text-decoration: none;
      }
      
    }

    .link-block:hover{
      transform: scale(1.1);

      a{
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        background-color: rgb(229, 179, 0);;
        border: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        font-weight: bold;
        align-self: end;
        text-shadow: none;
        text-decoration: none;
      }

      
    }

  }

}

