.areas-slider {

  display: flex;
  padding-left: 15px;
  padding-right: 15px;

  .slick-slide {
    transition: transform 0.5s ease, opacity 0.5s ease;
  }

  .slick-center .slide {
    transform: scale(1.1);
    opacity: 1;
    box-shadow: 0 1px 1rem -4px #000;
  }

  .slick-slide:not(.slick-center) .slide {
    transform: scale(0.8);
    opacity: 0.5;
  }

  .slide {
    background-color: #96c46c;
    padding: 20px;
    border-radius: 0px;
    text-align: center;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: white;
    position:inherit;
  }

}
  