.search-bar {
  //width: 100%;
  padding: 1rem;
  text-align: right; // Centra la barra de búsqueda horizontalmente
  //margin-left: ;

  input {
    padding: 1rem;
    //margin-right: 3rem; /* Añadido para dar un pequeño margen a la derecha */
    width: 200px;
    border: 2px solid #ccc; 
    border-radius: 5px; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
    transition: border-color 0.3s ease; 

    &:focus {
      border-color: #007bff; // Cambia a un color destacado cuando esté activa
      outline: none;
    }
  }
}